.header-welcome{
   background-image: url('../medias/couple-hiking-mountain-climbing-1296x728-header.webp');
   background-position: 0 30%;
   background-repeat: no-repeat;
   background-size: cover;
   height: 200px;

   h1 {
      font-size: 1.5rem;
      text-align: center;
      padding-top: 160px;
      color: rgba(255, 255, 255, 0.833);
      
   }
}

